/XV/app/google-services.json
*.apk
icons/ic_volume_up_black_36dp.zip
icons/ic_volume_off_black_36dp.zip
icons/ic_play_arrow_black_36dp.zip
icons/ic_pause_black_36dp.zip
icons/ic_menu_black_36dp.zip
icons/ic_loop_black_36dp.zip
icons/ic_error_outline_black_36dp.zip
